<main class="page">
  <section class="container">

    <header class="header">
      <h1>Pokédex</h1>
      <p>Busca tu Pokémon favorito</p>
    </header>

    <form
      class="search-form"
      (submit)="$event.preventDefault(); searchPokemon(searchInput.value)"
    >
      <input
        #searchInput
        type="text"
        placeholder="Nombre o número del Pokémon"
        autocomplete="off"
      />

      <button type="submit">
        Buscar
      </button>
    </form>

    @if (pokemon(); as p) {

    <article class="pokemon-card">

      <img
        class="pokemon-image"
        [src]="p.sprites.front_default"
        [alt]="p.name"
      />

      <h2>{{ p.name }}</h2>

      <p>#{{ p.id }}</p>

      <div class="types">
        @for (type of p.types; track type.slot) {
        <span class="type-badge">
          {{ type.type.name }}
        </span>
        }
      </div>

    </article>

    } @else {

    <section class="empty-state">
      <h2>🔍 Busca un Pokémon</h2>
      <p>Introduce un nombre o número.</p>
    </section>

    }

    <footer>
      Powered by <strong>PokeAPI</strong>
    </footer>

  </section>
</main>